# Arquivos de ambiente e segredos
.env
.venv
venv/
__pycache__/
*.pyc

# Arquivos de sistema e IDE
.DS_Store
.vscode/
.idea/

# Dados locais grandes ou sensíveis (opcional, ajuste conforme necessidade)
# data_input/
